/***************************************************************************
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* copyright            : (C) 2009 Iwan Gabovitch
* email                : qubodup@gmail.com
* $Id: forum.css.tmpl,v 1.81 2009/02/22 00:00:37 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
***************************************************************************/
/* REMOVE THIS LATER
{PHP_FILE: input: forum.css.t; output: forum.css;}

{PAGE: FORUM_CSS forum's css styles}
/* REMOVE THIS LATER */

/* BODY & WRAPPER */

body {
  background: #222222;
  color: #aaa;
  font-size: x-small;
  font-family: Sans-Serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

#wrapper {
  font-size: 137%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#content {
  width: 100%;
}

/* LINKS */

a:link, a:visited, a:active, a.PagerLink {
  color: #33ccff;
  text-decoration: none;
}

a:link img, a:visited img {
  /*border-color: black;*/
  border-style: dotted;
  border-width: 0 0 1px 0;
}

.attachmentBlock a, .postControlLine a, .postNextPrev a, a.postTitle {
  color: #666666;
}

.attachmentBlock, .postControlLine, .postDateLine {
  color: #555555;
}

.table_controls a, .threadControls a {
  color: #888888;
}

a.userNameLink {
  color: #eeeeee;
}

.postContentWrapper a {
}

/* PANEL */

#panel {
  border-bottom: 1px solid #333333;
  font-size: 84%;
  padding: 3px;
}

#panel_links, #panel_settings {
  display: inline;
}

#panel_settings {
  float: right;
}

#panel_links a {
  margin: .25em;
}

/* HEADER */

#header {
  height: 92px;
}

#logo {
  height: 82px;
  margin: 4px 0 0 4px;
  width: 153px;
  overflow: hidden;
  position: absolute;  
}

#logolink {
  background-image: url(images/fgd.png);
  background-repeat: no-repeat;
  display: block;
  height: 82px;
  text-decoration: none;
  width: 153px;
}
#headsearch {
  margin-left: 170px;
  padding: 38px 48px 0 0;
}

/* SIDE BAR */

#sidebar {
  float: left;
  font-size: 90%;
  line-height: 130%;
  margin-left: 20px;
  top: 128px;
  width: 140px;
}

ul.sidebarlist {
  /*border: 1px solid #333;*/
  list-style: none;
  margin: 0 0 .5em 0;
  overflow: hidden;
  padding:0;
}

#sidebar_wrap {

}

/* AD BAR */

#advbar {
  float: right;
  top: 128px;
  width: 200px;
}

/* MAIN CONTENT */

#main {
  margin-left: 170px;
  top: 128px;
}

/* INDEX */

.table_controls .forumMarker, .table_controls .pager, .threadControls .pager, .threadControls .firstNotReadLink {
  float: right;
  font-size: 84%;
  margin-right: .5em;
}

.postNextPrev {
  float: right;
  margin-right: .5em;
}

.table_controls, .threadControls {
  padding: .25em 0;
  overflow: hidden;
}

a.newThreadLink, a.newReplyLink {
  font-size: 130%;
}

table.forumsTable, table.threadsTable {
  margin: .25em 0;
  table-layout: fixed;
  width: 100%;
}

.postBlockWrapper {
  width: 100%;
}
.postItemWrapper {
  border-bottom: 1px solid #303030;
  margin: 1em 0;
  padding: 0 0 .5em 0;
}

.postContentWrapper {
  background-color: #1d1d1d;
  margin: .5em 0;
  padding: .5em;
}

table.forumsTable tr, table.threadsTable tr {
  border-bottom: 1px solid #303030;
}

table.forumsTable td, table.threadsTable td {
  overflow: hidden;
  white-space: nowrap;
}

table.forumsTable td.dateRow, table.forumsTable td.hideRow, table.threadsTable td.dateRow {
  font-size: 84%;
  padding-left: .5em;
  width: 12%;
}

table.threadsTable td.descriptionRow {
  padding-left: .5em;
}

table.forumsTable td.statsRow, table.forumsTable td.statsSemiRow, table.threadsTable td.statsRow {
  font-size: 84%;
  padding-left: 1em;
  width: 8%;
}

.forum_read, .forum_no_messages, .thread_read, .thread_read_locked, .threadMoved {
  background-color: #1d1d1d;
}

.forum_not_read, .thread_not_read, .thread_not_read_locked {
  background-color: #141414;
}

.thread_not_read_locked, .thread_read_locked {
  background-image: url(images/locked.gif);
  background-repeat: no-repeat;
  background-position: 2px 2px;
}

.index_list_forum_title, .threadListThreadTitle, .postTitle {
  background-repeat: no-repeat;
}

.threadListThreadTitle, .threadListByLine {
  margin-left: 10px;
}

.threadListByLine {
  font-size: 84%;
}

.collapsed, .expanded {
  text-align: right;
}

td {
  padding: .6em 0 .4em 0;
  overflow: hidden;
  white-space: nowrap;
}

table.threadsTable td span.threadListMovedMessage {
  background-image: url(images/moved.gif);
  background-repeat: no-repeat;
  margin-left: 10px;
  padding-left: 18px;
}

.threadDescriptionLine, .postHeadLine, .postControlLine {
  font-size: 84%;
  overflow: hidden;
}

.postControlLine {
  padding-top: .25em;
}

.userDropDown {
  display: none;
  visibility: hidden;
}

/* ATTACHMENTS */

div.attachmentBlock {
  background-color: #1d1d1d;
  padding: .5em .5em .25em .5em;
}

ul.attachmentList {
  display: table;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.attachmentList li {
  background-repeat: no-repeat;
  display: block; 
  float: left;
  font-size: 84%;
  margin-right: 1em;
  padding-left: 20px;
  white-space: nowrap;
}

ul.attachmentList li span.attachmentInfo {
  font-size: 90%;
}

ul.attachmentList li a {
}

/* INPUT */

input.hideShowButton,
input.headsearchtext, input.headsearchbutton,
input.threadListAdminButton,
input.threadListCheck {
/*  border: 1px solid #555;*/
  padding: 0 .4em;
}

input.hideShowButton,
input.threadListAdminButton {
  font-size: 75%;
}

input.hideShowButton {
  margin: 0 .4em 0 0;
}

input.threadListAdminButton {
  margin: .4em 0;
}

.threadListModControls {
  text-align: center; /* centered, so won't get clicked accidentally */
}

.threadListModLinks, .threadListThreadPager {
  font-size: 75%;
}

/* FOOTER */

#footer {
  clear: both;
  margin-top: 32px;
  text-align: center;
}

/* DEBUGGING */
table, tr, td {
  /*border-width: 0px;
  border-style: solid;*/
  border-collapse: collapse;
}
{PAGE: END}
