/**
* copyright            : (C) 2001-2009 Advanced Internet Designs Inc.
* email                : forum@prohost.org
* $Id: post_opt.tmpl,v 1.16 2009/01/29 18:37:29 frank Exp $
*
* This program is free software; you can redistribute it and/or modify it
* under the terms of the GNU General Public License as published by the
* Free Software Foundation; version 2 of the License.
**/

{PHP_FILE: input: post_opt.inc.t; output: post_opt.inc;}

{MAIN_SECTION: posting_options  what features are enabled/disabled for this post}
<!--{MSG: post_opt}-->
{TEMPLATE-DATA: post_opt_html}
{TEMPLATE-DATA: post_opt_fud}
{TEMPLATE-DATA: post_opt_images}
{TEMPLATE-DATA: post_opt_smilies}
{TEMPLATE-DATA: edit_time_limit}
{MAIN_SECTION: END}

{SECTION: edit_time_limit}
<li>{MSG: edit_time_limit}</li>
{SECTION: END}

{SECTION: no_edit_time_limit}
<!--{MSG: no_edit_time_limit}-->
{SECTION: END}

{SECTION: post_opt_html_on}
<li>{MSG: post_opt_html_on}</li>
{SECTION: END}

{SECTION: post_opt_fud_on}
<li>{MSG: post_opt_fud_on}</li>
{SECTION: END}

{SECTION: post_opt_images_on}
<!--{MSG: post_opt_images_on}-->
{SECTION: END}

{SECTION: post_opt_smilies_on}
<!--{MSG: post_opt_smilies_on}-->
{SECTION: END}

{SECTION: post_opt_html_off}
<!--{MSG: post_opt_html_off}-->
{SECTION: END}

{SECTION: post_opt_fud_off}
<li>{MSG: post_opt_fud_off}</li>
{SECTION: END}

{SECTION: post_opt_images_off}
<li>{MSG: post_opt_images_off}</li>
{SECTION: END}

{SECTION: post_opt_smilies_off}
<li>{MSG: post_opt_smilies_off}</li>
{SECTION: END}
